{% extends "base.html" %}

{% block content %}
<h1 class="title">Your orders!</h1>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" align="center">
    <thead>
    <tr>
        <th>rder_id</th>
        <th>Store</th>
        <th>Goods</th>
        <th>Summ</th>
        <th>Order Date</th>
    </tr>
    </thead>
    <tbody>
        {% for order in orders %}
    <tr>
        {% for key, body in order.items() %}
            <td>{{ key }}</td>
            {% for i, item in body.items() %}
                {% if i=='goods' %}
                    <td>
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <thead>
                                    <th>Name</th>
                                    <th>Price</th>
                            </thead>
                            <tbody>
                                {% for dict in item %}
                                <tr>
                                    {% for name, price in dict.items() %}
                                     <td>
                                        {{ name }}
                                     </td>
                                     <td>
                                        {{ price }}
                                     </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}